.btnContainer {
  height: 4rem;
  background: #ededed;
}

.prevBtn {
  font: 1.5rem sans-serif;
  border-radius: 5px;
  color: azure;
  background: #333;
  margin: 10px 0;
  margin-left: 10px;
}

.nextBtn {
  font: 1.5rem sans-serif;
  border-radius: 5px;
  color: azure;
  background: #333;
  margin: 10px 5px;
  margin-right: 10px;
}

.nextBtn:hover {
  background: rgb(255, 255, 255);
  color: #145a32;
  border-bottom: 3px #145a32 solid;
  border-left: 1px #145a32 solid;
  transition: all 0.5s ease-out;
}

.prevBtn:hover {
  background: rgb(255, 255, 255);
  color: #145a32;
  border-bottom: 3px #145a32 solid;
  border-left: 1px #145a32 solid;
  transition: all 0.5s ease-out;
}
