* {
  box-sizing: border-box;
}

.book {
  background: #fff;
  width: 180px;
  height: 100%;
  padding: 0 15px;
  padding-top: 15px;
  margin: 10px;
  border-bottom: 20px #ededed solid;
}

.thumbnail {
  width: 100%;
}

.author {
  color: #4c4c4c;
}
